html {
    font-size: 10px;
    height: 99vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    /*font-family: "Microsoft YaHei UI";*/
    font-family: "sans-serif";
}

div.views {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-top: 1rem;
}

.viewName {
    color: #5C6A76;
    font-family: "Microsoft YaHei UI";
    text-align: center;
    line-height: 4rem;
    font-weight: bold;
    margin-left: 1rem;
    font-size: 16px;
}



div.itav {
    height: 51rem;
    width: 80rem;
    border: solid #999999 1px;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

div.itav-toolbar {
    height: 4rem;
    /*margin-bottom: 1rem;*/
    flex-shrink: 0;
    border-bottom: solid #999999 1px;
    border-radius: 0.5rem;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#5C6A76;
}
div.itav-toolbar button{
    margin-right:1rem;
}
div.itav-toolbar-right-component{
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
div.itav-selector{
    margin-right:1rem;
}
div.itav-selector select{
    height:2.5rem;
}
div.itav svg.up {
    width: 800px;
    height: 385px;
    flex-shrink: 0;
}

div.itav svg.down {
    width: 800px;
    height: calc(80px + 1rem);
    flex-shrink: 0;
}

div.adv {
    height: 55rem;
    width: 64rem;
    border: solid #999999 1px;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    position: relative;
    top: calc(-18rem - 33rem - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.adv div.adv-toolbar {
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
}

div.adv-range {
    display: flex;
    align-items: center;
    color: #5C6A76;
    white-space: nowrap;
    margin-right: 1rem;
}
div.adv-searchbar{
    display:flex;
    align-items: center;
}
div.ctxv-container {
    height: calc(58rem + 34rem + 4rem);
    width: 42rem;
    margin-left: 1rem;
    border: solid #999999 1px;
    border-radius: 0.5rem;
}

div.ctxv-toolbar {
    height: 4rem;
    width: 42rem;
    border-bottom: solid #999999 1px;
    border-right: solid #999999 1px;
    border-radius: 0.5rem;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
}
div.ctxv-searchbar{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    width:30%;
}
div.ctxv {
    height: 58rem;
    width: 42rem;
    border-bottom: dotted #999999 1px;;
    /*margin-bottom: 1rem;*/
    padding: 0;
    font-family: "sans-serif";
    font-size: 10px;
}

div.ctxv svg {
    display: flex;
    justify-content: flex-end;
}

div.video {
    height: 34rem;
    width: 42rem;
    border: solid #999999 1px;
    border-radius: 5px;
    border-top: none;
}

div.video video {
    width: 100%;
    height: 100%;
}

div.pav-container {
    position: relative;
    top: calc(-7rem - 33rem - 4rem);
    height: 44rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    border: solid #999999 1px;
    border-radius: 0.5rem;
}

div.pav-toolbar {
    height: 4rem;
    width: 80rem;
    border-bottom: solid #999999 1px;
    border-right: solid #999999 1px;
    border-radius: 0.5rem;
    background: #F7F7F7;
    display: flex;
}
div.pav-selector{
    display:flex;
    align-items: center;
    margin-left:2rem;
     color: #5C6A76;
}
div.pav-selector select{
    height:20px;
    width:110px;
    margin-left:1rem;

}
div.pav {
    height: 40rem;
    width: 80rem;
    overflow: hidden;

    /*position:relative;*/
    /*top:-3rem;*/
    display: flex;
    justify-content: flex-start;
}


div.rv-container {
    height: 40rem;
    width: 64rem;
    border: solid #999999 1px;
    border-radius: 5px;
    margin-left: 1rem;
}

div.rv-toolbar {
    height: 4rem;
    width:100%;
    border-bottom: solid #999999 1px;
    border-radius: 0.5rem;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
}
div.rv-toolbar-right-component{
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
div.rv-toolbar-right-component button{
    margin-right: 1rem;
}
div.rv {
    height: 36rem;
    width: 64rem;
    marigin-bottom: 1rem;
}
div.rv-modal-dialog{
    max-width: 98vw;
}
div.rv-modal-body{
    height:98vh;
    width:98vw;
}

div.defocus {
    width: 15%;
    display: flex;
    flex-direction: column;

}

div.focused {
    border-left: 0.1rem dotted #999999;
    width: 85%;
    display: flex;
    align-items: center;

}

div.defocus div {
    border-top: dotted 1px #999999;
    height: 33.33%
}

/*div.pav-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 80rem;*/
/*    height: 50rem;*/
/*}*/

/*div.pav-toolbar {*/
/*    width: 100%;*/
/*    height: 10rem;*/
/*}*/


